body {
  font-size: 12px;
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  background-color: beige;
  font-family: "Montserrat", sans-serif;
}

#toDoForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#toDoForm input {
  border-radius: 12px;
  padding: 12px;
  height: 40px;
  width: 200px;
  background-color: white;
}
#toDoForm #addButton {
  border-radius: 12px;
  width: 60px;
  height: 60px;
  margin: 5px;
  background-color: white;
  font-size: 1.3rem;
}
#toDoForm #sortBtn {
  border-radius: 12px;
  margin: 10px;
  width: 150px;
  height: 75px;
  background-color: white;
  font-size: 1.4rem;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toDoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.toDoContainer .listUl {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 2rem;
  border: 1px solid black;
  background-color: white;
  width: 250px;
  border-radius: 12px;
}

input[type="checkbox"] {
  width: 25px;
  height: 25px;
}

button[type="button"] {
  background-color: red;
  color: white;
  font-size: 1.2rem;
}

p {
  color: black;
  font-size: 4rem;
  text-shadow: 1px 1px black;
}

li {
  display: flex;
  list-style: none;
}

@media screen and (min-width: 1200px) {
 
  #toDoForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #toDoForm input {
    border-radius: 12px;
    padding: 12px;
    width: 150px;
    height: 25px;
  }
  #toDoForm #addButton {
    border-radius: 12px;
    width: 35px;
    height: 35px;
    margin: 5px;
    background-color: white;
  }
  #toDoForm #sortBtn {
    border-radius: 12px;
    margin: 10px;
    width: 100px;
    height: 50px;
    background-color: white;
  }
}